<h1>Welcome to GPS Track!</h1>

<style>
    h1 {
        color: black;
    }
    
    .footer {
        padding-top: 275px;
        color: black;
        font-size: 16pt
    }
    
    html, body {
        background: url('/assets/melbourne-sat.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
        height: 100%;
        width: 100%;
    }
</style>