<h1>GPS Track as a researcher</h1><br />
<ol>
    <h4><li class='steps'>Register an account on GPS Track.</li>
    <li class='steps'>You will need to have an administrator of GPS Track give your account researcher privileges.</li>
    <li class='steps'>Log in to the GPS Track web application and go to the 'Report' link on the navigation bar.</li>
    <li class='steps'>Select the period for which you wish to view a report.</li>
    <li class='steps'>A detailed report containing information for all trips during that period, as well as 
    the different transportation methods will be generated for you.</li></h4>
</ol>

<style>
    .steps {
        margin: 15px;
    }
</style>