<h1>GPS Track as a normal user</h1><br />
<ol>
    <h4><li class='steps'>Register an account on GPS Track.</li>
    <li class='steps'>Log in to your account on the GPS Track mobile application and record trips.</li>
    <li class='steps'>Log in to the GPS Track web application and go to the 'Trips' link on the navigation bar.</li>
    <li class='steps'>Select a trip you wish to view on a map.</li>
    <li class='steps'>Review the trip and make any changes you like. Click on 'Verify trip' when you are done.</li></h4>
</ol>

<style>
    .steps {
        margin: 15px;
    }
</style>