<footer>
    <div class="row footer">
      <div class="col-lg-12" >
        <div class="footer_info" style="text-align: center">
    		<p>Designed by: Team GPS Track Yellow</p>
    		<p>Copyright &copy; 2015</p>	
    	</div>
      </div>
    </div>
</footer>